body {
    background: #221c31;
}

ul {
    margin: 0 auto;
    height: 70px;
    list-style: none;
    width: 800px;
    background: #ffffff17 ;
}

ul li {
    float: left;
}

ul a {
    display: block;
    padding: 0 2em;
    line-height: 2.2em;
    text-decoration: none;
    color: rgb(153, 153, 153);
}

ul .primeiro a {
    background: none;
}

li a:hover {
    color: black;
    background: #ffffff50;
}

li a {
    text-decoration: none;
    color: rgb(112, 112, 112);
    text-transform: uppercase;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 15px;
    transition: 1s;
}

img {
    width: 150px;
    border-radius: 300px;
    margin: 30px;
    margin-top: 70px;
    float: left;
}

p a {
    text-decoration: none;
    color: black;
}

p a:hover {
    color: blue;
}

h1 {
    text-align: center;
    font-size: 30px;
    color: gray;
}
.h1-dados-pessoais{
    margin-top: 130px;
    color: gray;
}

#informacoes-dados-pessoais {
    width: 850px;
    height: 300px;
    background-color: #ffffff1e;
    border-radius: 10px;
    margin: 0 auto;
}
#informacoes-sobre {
    width: 850px;
    height: 300px;
    background-color: #ffffff1e;
    border-radius: 10px;
    margin: 0 auto;

}
#informacoes-formacao-academica {
    width: 850px;
    height: 300px;
    background-color: #ffffff1e;
    border-radius: 10px;
    margin: 0 auto;
}
#informacoes-objetivo {
    width: 850px;
    height: 300px;
    background-color: #ffffff1e;
    border-radius: 10px;
    margin: 0 auto;
}
#informacoes-conhecimento {
    width: 850px;
    height: 300px;
    background-color: #ffffff1e;
    border-radius: 10px;
    margin: 0 auto;
}
#informacoes-cursos-aperfeicoamentos {
    width: 850px;
    height: 300px;
    background-color: #ffffff1e;
    border-radius: 10px;
    margin: 0 auto;
}
#informacoes-redes-contatos {
    width: 850px;
    height: 300px;
    background-color: #ffffff1e;
    border-radius: 10px;
    margin: 0 auto;
}

.formatacao-dados-pessoais {
    text-align: center;
    padding-top: 100px;
    font-size: 20px;
    width: 425px auto;
    height: 200px;
    background-color: #0000001e;
    border-radius: 0px 90px;
}
.formatacao-sobre {
    text-align: center;
    padding-top: 100px;
    font-size: 30px;
    width: 425px auto;
    height: 200px;
    background-color: #0000001e;
    border-radius: 0px 90px;
}
.formatacao-formacao-academica {
    text-align: center;
    padding-top: 100px;
    font-size: 30px;
    width: 425px auto;
    height: 200px;
    background-color: #0000001e;
    border-radius: 0px 90px;
}
.formatacao-objetivo {
    text-align: center;
    padding-top: 100px;
    font-size: 30px;
    width: 425px auto;
    height: 200px;
    background-color: #0000001e;
    border-radius: 0px 90px;
}
.formatacao-conhecimento {
    text-align: center;
    font-size: 25px;
    padding-top: 100px;
    width: 425px auto;
    height: 200px;
    background-color: #0000001e;
    border-radius: 0px 90px;
}
.formatacao-cursos-aperfeicoamentos {
    text-align: center;
    padding-top: 100px;
    font-size: 30px;
    width: 425px auto;
    height: 200px;
    background-color: #0000001e;
    border-radius: 0px 90px;
}

dl {
    text-align: center;
    padding: 50px;
    width: 425px auto;
    height: 200px;
    background-color: #0000001e;
    border-radius: 0px 90px;
}
dt a{
    text-decoration: none;
    font-size: 40px;
    color: black;
    transition: 1s;
}

dt a:hover {
    color: blue;
}